# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GerstnerWaves.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repositories\GerstnerWaves\Gerstner Waves\GerstnerWaves\.idea\.idea.GerstnerWaves\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
